@require functions

.cr-audio-button-power
	audio-button(47, 353)

.cr-audio-button-play
	audio-button(47, 417)

.cr-audio-button-pause
	audio-button(47, 481)

.cr-audio-button-stop
	audio-button(47, 544)

.cr-audio-button-ok
	audio-button(256, 484)

.cr-audio-button-up
	audio-button(198, 484)

.cr-audio-button-down
	audio-button(312, 484)

.cr-audio-button-right
	audio-button(256, 544)

.cr-audio-button-left
	audio-button(256, 419)

.cr-audio-button-mute
	audio-button(262, (170 - 32))

.cr-audio-button-volumeup
	audio-button(205, (93 - 32))

.cr-audio-button-volumedown
	audio-button(320, (93 - 32))

.cr-audio-button-forward
	audio-button(117, 547)

.cr-audio-button-previous
	audio-button(117, 353)

.cr-audio-button-back
	audio-button(117, 415)

.cr-audio-button-next
	audio-button(117, 485)
