@require functions

.cr-audio-button-power
	audio-button(372, 453)

.cr-audio-button-play
	audio-button(436, 453)

.cr-audio-button-pause
	audio-button(500, 453)

.cr-audio-button-stop
	audio-button(563, 453)

.cr-audio-button-ok
	audio-button(503, 244)

.cr-audio-button-up
	audio-button(503, 302)

.cr-audio-button-down
	audio-button(503, 188)

.cr-audio-button-right
	audio-button(563, 244)

.cr-audio-button-left
	audio-button(438, 244)

.cr-audio-button-mute
	audio-button(157, 238)

.cr-audio-button-volumeup
	audio-button(80, 295)

.cr-audio-button-volumedown
	audio-button(80, 180)

.cr-audio-button-previous
	audio-button(372, 383)

.cr-audio-button-rewind
	audio-button(434, 383)

.cr-audio-button-forward
	audio-button(504, 383)

.cr-audio-button-next
	audio-button(566, 383)

.cr-audio-button-back
	audio-button(636, 383)
