buttW = 60
buttH = 60
joyLeft = 424
joyBot = 225
volDnLeft = 48
volDnBot  = 153
pwrLeft = 349
pwrBot  = 444

$cr-audio-button
	position absolute
	content "\00A0"
	width (buttW)px 
	height (buttH)px 
	margin 0
	/* background red */
	cursor pointer

audio-button(x, y)
	@extends $cr-audio-button
	left (x)px
	bottom (y)px
