@require functions

.cr-audio-button-power
	audio-button(pwrLeft + 60 * 0 + 0, pwrBot)

.cr-audio-button-play
	audio-button(pwrLeft + 60 * 1 + 10, pwrBot)

.cr-audio-button-pause
	audio-button(pwrLeft + 60 * 2 + 18, pwrBot)

.cr-audio-button-stop
	audio-button(pwrLeft + 60 * 3 + 25, pwrBot)

.cr-audio-button-previous
	audio-button(pwrLeft + 60 * 0 + 3, pwrBot - 73)

.cr-audio-button-rewind
	audio-button(pwrLeft + 60 * 1 + 9, pwrBot - 73)

.cr-audio-button-forward
	audio-button(pwrLeft + 60 * 2 + 21, pwrBot - 73)

.cr-audio-button-next
	audio-button(pwrLeft + 60 * 3 + 27, pwrBot - 73)

.cr-audio-button-back
	audio-button(pwrLeft + 60 * 4 + 32, pwrBot - 73)

.cr-audio-button-up
	audio-button(joyLeft + 60, joyBot + 60)

.cr-audio-button-down
	audio-button(joyLeft + 60, joyBot - 60)

.cr-audio-button-left
	audio-button(joyLeft, joyBot)

.cr-audio-button-ok
	audio-button(joyLeft + 60, joyBot)

.cr-audio-button-right
	audio-button(joyLeft + 120, joyBot)

.cr-audio-button-mute
	audio-button(volDnLeft + 74, volDnBot + 55)

.cr-audio-button-volumeup
	audio-button(volDnLeft, volDnBot + 107)

.cr-audio-button-volumedown
	audio-button(volDnLeft, volDnBot)
