.cr-audio-button-power,
.cr-audio-button-play,
.cr-audio-button-pause,
.cr-audio-button-stop,
.cr-audio-button-ok,
.cr-audio-button-up,
.cr-audio-button-down,
.cr-audio-button-right,
.cr-audio-button-left,
.cr-audio-button-mute,
.cr-audio-button-volumeup,
.cr-audio-button-volumedown,
.cr-audio-button-forward,
.cr-audio-button-previous,
.cr-audio-button-back,
.cr-audio-button-next {
  position: absolute;
  content: "\00A0";
  width: 32px;
  height: 32px;
  margin: 0;
/* background red */
  cursor: pointer;
}
.cr-audio-button-power {
  left: 372px;
  bottom: 453px;
}
.cr-audio-button-play {
  left: 436px;
  bottom: 453px;
}
.cr-audio-button-pause {
  left: 500px;
  bottom: 453px;
}
.cr-audio-button-stop {
  left: 563px;
  bottom: 453px;
}
.cr-audio-button-ok {
  left: 503px;
  bottom: 244px;
}
.cr-audio-button-up {
  left: 503px;
  bottom: 302px;
}
.cr-audio-button-down {
  left: 503px;
  bottom: 188px;
}
.cr-audio-button-right {
  left: 563px;
  bottom: 244px;
}
.cr-audio-button-left {
  left: 438px;
  bottom: 244px;
}
.cr-audio-button-mute {
  left: 157px;
  bottom: 238px;
}
.cr-audio-button-volumeup {
  left: 80px;
  bottom: 295px;
}
.cr-audio-button-volumedown {
  left: 80px;
  bottom: 180px;
}
.cr-audio-button-forward {
  left: 566px;
  bottom: 383px;
}
.cr-audio-button-previous {
  left: 372px;
  bottom: 383px;
}
.cr-audio-button-back {
  left: 434px;
  bottom: 383px;
}
.cr-audio-button-next {
  left: 504px;
  bottom: 383px;
}
.cr-media-audio {
  width: 100%;
  height: 100%;
  background-image: url("../img/bg-audio.png");
  background-position: center bottom;
  background-repeat: no-repeat;
}
.cr-audio-cover,
.cr-audio-playlist {
  position: absolute;
  right: 10px;
  background-color: #3d3d3d;
  color: #00fff2;
  scroll: vertical;
  padding: 5px;
  border: 1px solid #00fff3;
  border-radius: 6px;
}
.cr-audio-cover {
  width: 90px;
  height: 90px;
  bottom: 7px;
  padding: 1px;
}
.cr-audio-cover img {
  margin: auto;
  width: 88px;
  height: 88px;
}
.cr-audio-playlist {
  bottom: 128px;
  overflow-y: scroll;
  width: 315px;
  height: 394px;
}
.cr-audio-time,
.cr-audio-composition {
  position: absolute;
  background-color: #3d3d3d;
  color: #00fff2;
  font-family: sans-serif;
  font-size: 16pt;
  text-decoration: small-caps;
}
.cr-audio-composition {
  left: 56px;
  bottom: 72px;
}
.cr-audio-time {
  right: 209px;
  text-align: right;
  bottom: 30px;
}
.cr-audio-gauge {
  right: 209px;
  bottom: 14px;
}
