.cr-audio-button-power,
.cr-audio-button-play,
.cr-audio-button-pause,
.cr-audio-button-stop,
.cr-audio-button-ok,
.cr-audio-button-up,
.cr-audio-button-down,
.cr-audio-button-right,
.cr-audio-button-left,
.cr-audio-button-mute,
.cr-audio-button-volumeup,
.cr-audio-button-volumedown,
.cr-audio-button-forward,
.cr-audio-button-previous,
.cr-audio-button-back,
.cr-audio-button-next {
  position: absolute;
  content: "\00A0";
  width: 32px;
  height: 32px;
  margin: 0;
  background: #f00;
  cursor: pointer;
}
.cr-audio-button-power {
  left: 49px;
  bottom: 514px;
}
.cr-audio-button-play {
  left: 429px;
  bottom: 497px;
}
.cr-audio-button-pause {
  left: 493px;
  bottom: 497px;
}
.cr-audio-button-stop {
  left: 556px;
  bottom: 497px;
}
.cr-audio-button-ok {
  left: 496px;
  bottom: 288px;
}
.cr-audio-button-up {
  left: 496px;
  bottom: 346px;
}
.cr-audio-button-down {
  left: 496px;
  bottom: 232px;
}
.cr-audio-button-right {
  left: 556px;
  bottom: 288px;
}
.cr-audio-button-left {
  left: 431px;
  bottom: 288px;
}
.cr-audio-button-mute {
  left: 182px;
  bottom: 282px;
}
.cr-audio-button-volumeup {
  left: 105px;
  bottom: 339px;
}
.cr-audio-button-volumedown {
  left: 105px;
  bottom: 224px;
}
.cr-audio-button-forward {
  left: 559px;
  bottom: 427px;
}
.cr-audio-button-previous {
  left: 365px;
  bottom: 427px;
}
.cr-audio-button-back {
  left: 427px;
  bottom: 427px;
}
.cr-audio-button-next {
  left: 497px;
  bottom: 427px;
}
.cr-media-audio {
  width: 100%;
  height: 100%;
  background-image: url("../img/bg-audio.png");
  background-position: center bottom;
  background-repeat: no-repeat;
}
