.cr-audio-button-power,
.cr-audio-button-play,
.cr-audio-button-pause,
.cr-audio-button-stop,
.cr-audio-button-ok,
.cr-audio-button-up,
.cr-audio-button-down,
.cr-audio-button-right,
.cr-audio-button-left,
.cr-audio-button-mute,
.cr-audio-button-volumeup,
.cr-audio-button-volumedown,
.cr-audio-button-forward,
.cr-audio-button-previous,
.cr-audio-button-back,
.cr-audio-button-next {
  position: absolute;
  content: "\00A0";
  width: 32px;
  height: 32px;
  margin: 0;
  background: #f00;
  cursor: pointer;
}
.cr-audio-button-power {
  left: 56px;
  bottom: 470px;
}
.cr-audio-button-play {
  left: 436px;
  bottom: 453px;
}
.cr-audio-button-pause {
  left: 500px;
  bottom: 453px;
}
.cr-audio-button-stop {
  left: 563px;
  bottom: 453px;
}
.cr-audio-button-ok {
  left: 503px;
  bottom: 244px;
}
.cr-audio-button-up {
  left: 503px;
  bottom: 302px;
}
.cr-audio-button-down {
  left: 503px;
  bottom: 188px;
}
.cr-audio-button-right {
  left: 563px;
  bottom: 244px;
}
.cr-audio-button-left {
  left: 438px;
  bottom: 244px;
}
.cr-audio-button-mute {
  left: 189px;
  bottom: 238px;
}
.cr-audio-button-volumeup {
  left: 112px;
  bottom: 295px;
}
.cr-audio-button-volumedown {
  left: 112px;
  bottom: 180px;
}
.cr-audio-button-forward {
  left: 566px;
  bottom: 383px;
}
.cr-audio-button-previous {
  left: 372px;
  bottom: 383px;
}
.cr-audio-button-back {
  left: 434px;
  bottom: 383px;
}
.cr-audio-button-next {
  left: 504px;
  bottom: 383px;
}
.cr-media-audio {
  width: 100%;
  height: 100%;
  background-image: url("../img/bg-audio.png");
  background-position: center bottom;
  background-repeat: no-repeat;
}
