@require functions

.cr-icones-collection-movie
	icon-out(0, 0)

.cr-icones-collection-movie:hover
	icon-hover(0, 0)

.cr-icones-collection-photo
	icon-out(0, 1)

.cr-icones-collection-photo:hover
	icon-hover(0, 1)

.cr-icones-collection-video
	icon-out(0, 2)

.cr-icones-collection-video:hover
	icon-hover(0, 2)

.cr-icones-collection-audio
	icon-out(0, 3)

.cr-icones-collection-audio:hover
	icon-hover(0, 3)
