@require functions

.cr-icones-projector
	icon-out(0, 0)

.cr-icones-projector:hover
	icon-hover(0, 0)

.cr-icones-tv
	icon-out(0, 1)

.cr-icones-tv:hover
	icon-hover(0, 1)

.cr-icones-ir
	icon-out(0, 2)

.cr-icones-ir:hover
	icon-hover(0, 2)

.cr-icones-audio
	icon-out(0, 3)

.cr-icones-audio:hover
	icon-hover(0, 3)

.cr-icones-dvd
	icon-out(0, 4)

.cr-icones-dvd:hover
	icon-hover(0, 4)

.cr-icones-cameras
	icon-out(0, 5)

.cr-icones-cameras:hover
	icon-hover(0, 5)

.cr-icones-webcams
	icon-out(0, 6)

.cr-icones-webcams:hover
	icon-hover(0, 6)

.cr-icones-curtains
	icon-out(0, 7)

.cr-icones-curtains:hover
	icon-hover(0, 7)

.cr-icones-conditioners
	icon-out(0, 8)

.cr-icones-conditioners:hover
	icon-hover(0, 8)

.cr-icones-garlands
	icon-out(0, 9)

.cr-icones-garlands:hover
	icon-hover(0, 9)

.cr-icones-my-audio
	icon-out(0, 10)

.cr-icones-my-audio:hover
	icon-hover(0, 10)

.cr-icones-my-video
	icon-out(0, 11)

.cr-icones-my-video:hover
	icon-hover(0, 11)
